.loginTitle {
  font-family: var(--global-font);
  color: var(--global-color-font);
  font-size: 120px;
  margin: 0px;

  margin-left: 5px;
}
.toRegisterTitle {
  font-family: var(--global-font);
  color: var(--global-color-font);
  font-size: 100px;
  margin: 0px;

  margin-left: 40%;
}

.loginForm {
  max-width: 50%;
  margin-left: 25%;
}
