.createMemeModal {
  position: fixed;
  width: 100%;
  padding: 10%;
  background-color: var(--global-modal-color);
  backdrop-filter: blur(10px);
}
.createTitle {
  font-family: var(--global-font);
  color: var(--global-color-font);
  font-size: 100px;
  margin: 0px;

  margin-left: 30%;
}
.createForm {
  margin: 150px 50px;
}
.toBackHomeTitle {
  font-family: var(--global-font);
  color: var(--global-color-font);
  font-size: 60px;
  margin: 0px;

  margin-left: 5px;
}
.closeButton {
  border: none;
  background-color: rgba(0, 0, 0, 0);
  color: var(--global-color-font);
  font-size: 50px;
}
